:root {
    color-scheme: light dark;
}

body {
    width: 170px;
    
    /*padding: 20px;*/

    font-family: system-ui;
    text-align: center;
    background-color: #C4DBCC;
}

.title{
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
