:root {
    color-scheme: light dark;
}

body {
    width: 250px;
    
    /*padding: 20px;*/

    font-family: system-ui;
    text-align: center;
    background-color: #C4DBCC;
}

.main{
    margin-top: 30px;
}

.header{
    font-size: 14px;
    margin-top: 30px;
    color: rgb(57, 57, 57);
}

.title{
    font-size: 11px;
    color: rgb(57, 57, 57);
}

.text{
    font-size: 15px;
    color: rgb(57, 57, 57);
}

.toggle{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 150px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #51E373;
}
input:checked + .slider:before {
    transform: translateX(13px);
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}

.sub{
    margin-bottom: 26px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
